<div class="modal-dialog modal-lg">
	<div class="modal-content">
		<div class="modal-header">
			<h5 class="modal-title col-xs-10">Семеен хотел с ресторант</h5>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="modal-body">
			<div class="info">
				<div class="row">
					<div class="col-xs-6"><i class="fa fa-building-o"></i> Семеен хотел</div>
					<div class="col-xs-6"><i class="fa fa-tasks"></i> 4 етажа</div>
				</div>
				<div class="row">
					<div class="col-xs-6"><i class="fa fa-map-pin"></i> гр. Балчик</div>
					<div class="col-xs-6"><i class="fa fa-object-ungroup"></i> 206 кв. м</div>
				</div>
			</div>
			<div class="slider-project">
				<div class="item"><img src="img/buildings/building5/2.jpg" alt="Семеен хотел - гр. Балчик"/></div>
				<div class="item"><img src="img/buildings/building5/1.jpg" alt="Семеен хотел - гр. Балчик"/></div>
				<div class="item"><img src="img/buildings/building5/s1.jpg" alt="Семеен хотел - гр. Балчик"/></div>
			</div>		
		</div>
	</div>
</div>