<div class="modal-content">
	<div class="modal-header">
		<h5 class="modal-title col-xs-10">Дървени Сглобяеми Бунгала</h5>
		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<div class="info">
			<div class="row">
				<div class="col-xs-6"><i class="fa fa-building-o"></i> Бунгала</div>
				<div class="col-xs-6"><i class="fa fa-tasks"></i> 1 етажа</div>
			</div>
			<div class="row">
				<div class="col-xs-6"><i class="fa fa-map-pin"></i> с. Царично</div>
				<div class="col-xs-6"><i class="fa fa-object-ungroup"></i> 240 кв. м</div>
			</div>
		</div>
		<div class="slider-project">
			<div class="item"><img src="../img/buildings/building4/2.jpg" alt="Бунгала - с. Царично"/></div>
			<div class="item"><img src="../img/buildings/building4/1.jpg" alt="Бунгала - с. Царично"/></div>
			<div class="item"><img src="../img/buildings/building4/3.jpg" alt="Бунгала - с. Царично"/></div>
			<div class="item"><img src="../img/buildings/building4/4.jpg" alt="Бунгала - с. Царично"/></div>
			<div class="item"><img src="../img/buildings/building4/5.jpg" alt="Бунгала - с. Царично"/></div>
			<div class="item"><img src="../img/buildings/building4/s1.jpg" alt="Бунгала - с. Царично"/></div>
		</div>		
	</div>
</div>