<div class="modal-content">
	<div class="modal-header">
		<h5 class="modal-title col-xs-10">Вилна сграда</h5>
		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<div class="info">
			<div class="row">
				<div class="col-xs-6"><i class="fa fa-building-o"></i> Вилна Сграда</div>
				<div class="col-xs-6"><i class="fa fa-tasks"></i> 3 етажа</div>
			</div>
			<div class="row">
				<div class="col-xs-6"><i class="fa fa-map-pin"></i> гр. Балчик</div>
				<div class="col-xs-6"><i class="fa fa-object-ungroup"></i> 87 кв. м</div>
			</div>
		</div>
		<div class="slider-project">
			<div class="item"><img src="../img/houses/house11/2.jpg" alt="Вилна сграда - гр. Балчик"/></div>
			<div class="item"><img src="../img/houses/house11/1.jpg" alt="Вилна сграда - гр. Балчик"/></div>
			<div class="item"><img src="../img/houses/house11/3.jpg" alt="Вилна сграда - гр. Балчик"/></div>
			<div class="item"><img src="../img/houses/house11/s1.jpg" alt="Вилна сграда - гр. Балчик"/></div>
			<div class="item"><img src="../img/houses/house11/s2.jpg" alt="Вилна сграда - гр. Балчик"/></div>
			<div class="item"><img src="../img/houses/house11/s3.jpg" alt="Вилна сграда - гр. Балчик"/></div>
		</div>		
	</div>
</div>