<div class="modal-content">
	<div class="modal-header">
		<h5 class="modal-title col-xs-10">Двуетажна жилищна сграда с гараж</h5>
		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<div class="info">
			<div class="row">
				<div class="col-xs-6"><i class="fa fa-building-o"></i> Жилищна Сграда</div>
				<div class="col-xs-6"><i class="fa fa-tasks"></i> 2 етажа</div>
			</div>
			<div class="row">
				<div class="col-xs-6"><i class="fa fa-map-pin"></i> с. Кранево</div>
				<div class="col-xs-6"><i class="fa fa-object-ungroup"></i> 97 кв. м</div>
			</div>
		</div>
		<div class="slider-project">
			<div class="item"><img src="img/houses/house3/2.jpg" alt="Двуетажна жилищна сграда - с. Кранево"/></div>
			<div class="item"><img src="img/houses/house3/1.jpg" alt="Двуетажна жилищна сграда - с. Кранево"/></div>
			<div class="item"><img src="img/houses/house3/s1.jpg" alt="Двуетажна жилищна сграда - с. Кранево"/></div>
			<div class="item"><img src="img/houses/house3/s2.jpg" alt="Двуетажна жилищна сграда - с. Кранево"/></div>
		</div>		
	</div>
</div>